__pycache__/
*.DS_Store
*.pyc
.env
*.env
*.swp
*.swo
old/
# Data inputs.
# Track data inputs, except for large files and the dataset catalog (which
# is synced to AWS).
data_inputs/catalogs/dataset_catalog.csv
data_inputs/raster/*
!data_inputs/raster/land_use/copernicus/.gitkeep
!data_inputs/raster/SDM/.gitkeep
data_inputs/vector/*
!data_inputs/vector/admin_boundaries/geoBoundaries/.gitkeep
!data_inputs/vector/protected_areas/WDPA/.gitkeep
# Data outputs.
# Don’t track data outputs, but make sure the directory structure is retained. 
data_outputs/*
!data_outputs/.gitkeep
!data_outputs/logs/.gitkeep
!data_outputs/vector_tiles/.gitkeep
!data_outputs/raster_tiles/.gitkeep
!data_outputs/raster_analysis/.gitkeep
# Website file generation: Same as data outputs: don’t track, but retain
# directory structure.
website_dist/*
!website_dist/.gitkeep
