__pycache__/
*.DS_Store
*.pyc
.env
*.env
*.swp
*.swo
data_inputs/catalogs/dataset_catalog.csv
data_inputs/raster/*
!data_inputs/raster/.gitkeep
data_inputs/vector/*
!data_inputs/vector/.gitkeep
data_outputs/*
!data_outputs/.gitkeep
!data_outputs/logs/.gitkeep
!data_outputs/vector_tiles/.gitkeep
!data_outputs/raster_tiles/.gitkeep
!data_outputs/raster_analysis/.gitkeep
old/
website_dist/*
!website_dist/.gitkeep
