__pycache__/
*.DS_Store
*.pyc
.env
*.env
*.swp
*.swo
old/
# !!! This has gotten very complicated. It might be better to write a simple
# setup script to assemble the necessary directory structure.
#
# Data inputs.
# Track data inputs, except for large files and the dataset catalog (which
# is synced to AWS).
# Note: A triple entry is required to maintain and empty directory, like this
# !foo/bar/
# foo/bar/*
# !foo/bar/.gitkeep
# This is because git doesn’t traverse ignored directories, but also doesn’t
# track empty directories.
data_inputs/catalogs/dataset_catalog.csv
data_inputs/raster/*
#
!data_inputs/raster/land_use/copernicus/
data_inputs/raster/land_use/copernicus/*
!data_inputs/raster/land_use/copernicus/.gitkeep
#
!data_inputs/raster/SDM/
data_inputs/raster/SDM/*
!data_inputs/raster/SDM/.gitkeep
#
data_inputs/vector/*
#
!data_inputs/vector/admin_boundaries/
data_inputs/vector/admin_boundaries/*
!data_inputs/vector/admin_boundaries/.gitkeep
#
!data_inputs/vector/admin_boundaries/geoBoundaries/
data_inputs/vector/admin_boundaries/geoBoundaries/*
!data_inputs/vector/admin_boundaries/geoBoundaries/.gitkeep
#
!data_inputs/vector/protected_areas/
data_inputs/vector/protected_areas/*
!data_inputs/vector/protected_areas/.gitkeep
#
!data_inputs/vector/protected_areas/WDPA/
data_inputs/vector/protected_areas/WDPA/*
!data_inputs/vector/protected_areas/WDPA/.gitkeep
# Data outputs.
# Don’t track data outputs, but make sure the directory structure is retained. 
data_outputs/*
#
!data_outputs/logs/
data_outputs/logs/*
!data_outputs/logs/.gitkeep
#
!data_outputs/vector_tiles/
data_outputs/vector_tiles/
!data_outputs/vector_tiles/.gitkeep
#
!data_outputs/raster_tiles/
data_outputs/raster_tiles/
!data_outputs/raster_tiles/.gitkeep
#
!data_outputs/raster_analysis/
data_outputs/raster_analysis/
!data_outputs/raster_analysis/.gitkeep
# Website file generation: Same as data outputs: don’t track, but retain
# directory structure.
!website_dist/
website_dist/*
!website_dist/.gitkeep
